<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head">
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

  <div th:replace="fragments :: _header"></div>
<!--Body Content-->
  <div></div>
<div id="page-content" style="margin-top: 50px">
  <!--Page Title-->
  <div class="page section-header text-center">
    <div class="page-title">
      <div class="wrapper"><h1 class="page-width">Your cart</h1></div>
    </div>
  </div>
  <!--End Page Title-->

  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
        <form action="#" method="post" class="cart style2">
          <table>
            <thead class="cart__row cart__header">
            <tr>
              <th class="text-right"></th>
              <th class="text-center">Tên sản phẩm</th>
              <th class="text-center">Giá tiền</th>
              <th class="text-center">Số lượng</th>
              <th class="text-right">Thành tiền</th>
              <th class="action">&nbsp;</th>
            </tr>
            </thead>
            <tbody>

            <tr class="cart__row border-bottom line1 cart-flex border-top"th:each="item : ${all_items_in_shoppingcart}">
              <td class="cart__image-wrapper cart-flex-item text-right">
                <a href="#"><img class="cart__image" th:src="@{/images/__${item.img}__}"></a>
              </td>
              <td class="cart__meta small--text-left cart-flex-item">
                <div class="list-view-item__title text-center">
                  <a href="#" th:text="${item.name}"></a>
                </div>
              </td>
              <td class="cart__price-wrapper cart-flex-item text-center">
                <span class="money" th:text="${item.price}"></span>
              </td>
              <td class="cart__update-wrapper cart-flex-item text-center">
                <form th:action="@{/cart/update}" method="POST">
                  <input type="hidden" th:name="productId" th:value="${item.productId}">
                  <input type="number" th:name="quantity" th:value="${item.quantity}"
                         onblur="this.form.submit()" style="width:50px">
                </form>
              </td>
              <td class="text-center small--hide cart-price">
                <div><span class="money" th:text="${item.price}*${item.quantity}" ></span></div>
              </td>
              <td><a th:href="@{/shoppingcart/remove/{id}(id=${item.productId})}"
                     class="btn btn-primary">Remove</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="3" class="text-left"><a href="/" class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i>Tiếp tục mua sắm</a></td>

            </tr>
            </tfoot>
          </table>




        </form>
      </div>
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
        <div class="cart-note">
          <div class="solid-border">
            <h5><label for="CartSpecialInstructions" class="cart-note__label small--text-center">Add a note to your order</label></h5>
            <textarea name="note" id="CartSpecialInstructions" class="cart-note__input"></textarea>
          </div>
        </div>
        <div class="solid-border">
          <div class="row">
            <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Thành tiền</strong></span>
            <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money" th:text="${total_amount}"></span></span>
          </div>
          <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
          <p class="cart_tearm">
            <label>
              <input type="checkbox" name="tearm" id="cartTearm" class="checkbox" value="tearm" required="">
              I agree with the terms and conditions</label>
          </p>
          <a href="@{/cart/checkout}" type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Đặt hàng">Đặt hàng</a>
          <div class="paymnet-img"><img src="/assets/images/payment-img.jpg" alt="Payment"></div>
        </div>

      </div>
    </div>
  </div>

</div>
<!--End Body Content-->
  <div th:replace="fragments :: _footer">

  </div>
</body>
</html>