<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: html_head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments :: _header}"></div>
<div id="page-content">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="empty-page-content text-center">
                    <h1 style=" !important; font-size: 80px">500 INTERNAL SERVER ERROR</h1>
                    <p>The page you requested does not exist.</p>
                    <p>Lỗi server rồi ní ơi</p>
                    <p><a th:href="@{/}" class="btn btn--has-icon-after">Continue shopping <i class="fa fa-caret-right"
                                                                                              aria-hidden="true"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{fragments :: _footer}"></div>
</body>

</html>