<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/admin/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<div>
    <!-- Start main left sidebar menu -->
    <div id="main_content">
        <div th:replace="/admin/layout :: sidebar"></div>
        <div class="page">

            <div id="page_top" class="section-body top_dark">

                <div th:replace="/admin/layout :: navbar_layout"></div>
            </div>
            <div class="section-body mt-3">
                <div class="container-fluid">
                    <div class="row clearfix">
                        <div>
                            <div class="section-body mt-3">
                                <div class="container-fluid">
                                    <div class="row clearfix">
                                        <div class="col-12">


                                            <h2>Đơn hàng</h2>


                                            <div class="card">
                                                <div class="card-body">
                                                    @using (Html.BeginForm("Index","Orders",FormMethod.Get))
                                                    {
                                                    <div class="row">

                                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                                            <div class="input-group">
                                                                <input type="text" class="form-control" name="q" placeholder="Search">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                                            <div class="input-group">
                                                                <input type="date" class="form-control" name="date" value=@(!string.IsNullOrEmpty(ViewBag.date) !=null ? ViewBag.date :  "")>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2 col-md-4 col-sm-6">
                                                            <button type="submit" class="btn btn-primary btn-block" title="">Search</button>
                                                        </div>

                                                    </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="card">
                                                <div class="table-responsive">
                                                    <table class="table table-hover table-striped table-vcenter mb-0 text-nowrap">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="5">Đơn hàng</th>
                                                            <th colspan="3">Hành động</th>
                                                        </tr>
                                                        <tr>

                                                            <th>Id</th>
                                                            <th>Tên người nhận</th>
                                                            <th>Số điện thoại người nhận</th>
                                                            <th>Địa chỉ người nhận</th>
                                                            <th>Thời gian đặt</th>
                                                            <th>Ghi chú</th>
                                                            <th>Giá tiền</th>
                                                            <th>Trạng thái</th>
                                                            <th>Hành động</th>

                                                            <th>Xem chi tiết</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        @foreach (var item in Model)
                                                        {
                                                        <tr>

                                                            <td><a href="#">#@item.id</a></td>
                                                            <td><span>@item.name_receive</span></td>
                                                            <td><span>@item.phone_receive</span></td>
                                                            <td><span>@item.address_receive</span></td>
                                                            <td><span>@item.time</span></td>

                                                            <td><div style=" overflow: hidden; inline-size: 150px;">@item.note</div></td>
                                                            <td>@item.total_price</td>

                                                            <td><span>Đang đặt</span></td>


                                                            <td>
                                                                <div><a href="/Admin/Orders/UpdateStatus?type=1&id=@item.id">Duyệt đơn</a></div>
                                                                <div><a href="/Admin/Orders/UpdateStatus?type=2&id=@item.id">Hủy đơn</a></div>

                                                            </td>


                                                            <td>
                                                                <div> @Html.ActionLink("Chi tiết", "Details", new { id = item.id }) </div>


                                                            </td>
                                                        </tr>
                                                        }

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                           Phân trang
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="/admin/layout :: layout_footer"></div>
        </div>
        <!--    Footer Layout-->
    </div>
</div>


<div th:replace="/admin/layout :: js_script_layout"></div>
</body>
</html>